<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Telephone List</title>

</head>

<body>
    <div th:class="container">
        <p class="h4 mb-4">New telephone</p>

        <form action="#" th:action="@{/renters/telephones/add/{id}(id=${renter.renterId})}" method="post">

            <!-- Add hidden form field to handle the update -->
            <input type="hidden" th:field="*{phoneNumber.phoneId}" />

            <div class="form-group">
                <label for="phoneNumber">Add new:</label>
                <input type="text" class="form-control" placeholder="Enter telephone" id="phoneNumber" th:field="*{phoneNumber.phone}">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr>
        <a th:href="@{/renters/telephones/{id}(id=${renter.renterId})}">Back to Telephone List</a>
    </div>
</body>
</html>